In [1]:
import cv2
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
Arborio=[]
Basmati=[]
Ipsala=[]
Jasmine=[]
Karacadag=[]

In [3]:
os.chdir(r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Arborio")
files=os.listdir()
for j in files[0:10000]:
    lo=r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Arborio\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    Arborio.append(image.flatten().tolist())

In [4]:
dfa=pd.DataFrame(Arborio)
dfa["label"]="Arborio"

In [5]:
dfa

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio

In [6]:
os.chdir(r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Basmati")
files=os.listdir()
for j in files[0:10000]:
    lo=r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Basmati\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    Basmati.append(image.flatten().tolist())

In [7]:
dfb=pd.DataFrame(Basmati)
dfb['label']="Basmati"

In [8]:
dfb

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Basmati

In [9]:
os.chdir(r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Ipsala")
files=os.listdir()
for j in files[0:10000]:
    lo=r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Ipsala\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    Ipsala.append(image.flatten().tolist())

In [10]:
dfc=pd.DataFrame(Ipsala)
dfc['label']="Ipsala"

In [11]:
dfc

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ipsala

In [12]:
os.chdir(r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Jasmine")
files=os.listdir()
for j in files[0:10000]:
    lo=r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Jasmine\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    Jasmine.append(image.flatten().tolist())

In [13]:
dfd=pd.DataFrame(Jasmine)
dfd['label']="Jasmine"

In [14]:
dfd

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jasmine

In [15]:
os.chdir(r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Karacadag")
files=os.listdir()
for j in files[0:10000]:
    lo=r"C:\Users\Admin\arif\archive (6)\Rice_Image_Dataset\Karacadag\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    Karacadag.append(image.flatten().tolist())

In [16]:
dfe=pd.DataFrame(Karacadag)
dfe['label']="Karacadag"

In [17]:
dfe

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag

In [18]:
data = pd.concat([dfa,dfb,dfc,dfd,dfe],ignore_index=True)

In [19]:
data

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Arborio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
49996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
49997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
49998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag
49999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Karacadag

In [20]:
import matplotlib.pyplot as plt
import keras 
from keras import Sequential
from keras.layers import Dense,Dropout,BatchNormalization
from keras.datasets import mnist
from keras.utils import np_utils

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
data.iloc[:,:-1]

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
for i in data.columns:
    if data[i].dtype=='object':
        encoded = pd.get_dummies(data[i])
        data = data.join(encoded).drop(i, axis=1)
data

,0,1,2,3,4,5,6,7,8,9,...,2495,2496,2497,2498,2499,Arborio,Basmati,Ipsala,Jasmine,Karacadag
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [24]:
data.iloc[:,:2500]

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
data.iloc[:,2500:]

       Arborio  Basmati  Ipsala  Jasmine  Karacadag
0            1        0       0        0          0
1            1        0       0        0          0
2            1        0       0        0          0
3            1        0       0        0          0
4            1        0       0        0          0
...        ...      ...     ...      ...        ...
49995        0        0       0        0          1
49996        0        0       0        0          1
49997        0        0       0        0          1
49998        0        0       0        0          1
49999        0        0       0        0          1

[50000 rows x 5 columns]

In [26]:
x_train,x_test,y_train,y_test=train_test_split(data.iloc[:,:2500],data.iloc[:,2500:],test_size=0.2,random_state=10)

In [27]:
x_train.shape

(40000, 2500)

In [28]:
y_train.shape

(40000, 5)

In [29]:
x_test.shape

(10000, 2500)

In [30]:
y_test.shape

(10000, 5)

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
std=StandardScaler()
stdd=pd.DataFrame(std.fit_transform(x_train))

In [73]:
model=Sequential()
model.add(Dense(32,activation="relu",kernel_initializer="he_uniform",input_dim=2500))
model.add(Dense(32,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.5))
model.add(BatchNormalization())
model.add(Dense(64,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(64,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(128,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(128,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(256,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(256,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(512,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(512,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(7,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(32,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.5))
model.add(BatchNormalization())
model.add(Dense(64,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(64,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(128,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(128,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(256,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(256,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(512,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(512,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(7,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(32,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.5))
model.add(BatchNormalization())
model.add(Dense(64,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(64,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(128,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(128,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(256,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(256,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(512,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(512,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(7,activation="relu",kernel_initializer="he_uniform"))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(5,activation="softmax"))

In [74]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_76 (Dense)            (None, 32)                80032

 dense_77 (Dense)            (None, 32)                1056

 dropout_45 (Dropout)        (None, 32)                0

 batch_normalization_30 (Bat  (None, 32)               128
 chNormalization)

 dense_78 (Dense)            (None, 64)                2112

 dropout_46 (Dropout)        (None, 64)                0

 batch_normalization_31 (Bat  (None, 64)               256
 chNormalization)

 dense_79 (Dense)            (None, 64)                4160

 dropout_47 (Dropout)        (None, 64)                0

 batch_normalization_32 (Bat  (None, 64)               256
 chNormalization)

 dense_80 (Dense)            (None, 128)               8320

 dropout_48 (Dropout)        (None, 128)               0

 batch_normalization_33 (Bat  (None, 128)              512
 chNormalization)

 dense_81 (Dense)            (None, 128)               16512

 dropout_49 (Dropout)        (None, 128)               0

 batch_normalization_34 (Bat  (None, 128)              512
 chNormalization)

 dense_82 (Dense)            (None, 256)               33024

 dropout_50 (Dropout)        (None, 256)               0

 batch_normalization_35 (Bat  (None, 256)              1024
 chNormalization)

 dense_83 (Dense)            (None, 256)               65792

 dropout_51 (Dropout)        (None, 256)               0

 batch_normalization_36 (Bat  (None, 256)              1024
 chNormalization)

 dense_84 (Dense)            (None, 512)               131584

 dropout_52 (Dropout)        (None, 512)               0

 batch_normalization_37 (Bat  (None, 512)              2048
 chNormalization)

 dense_85 (Dense)            (None, 512)               262656

 dropout_53 (Dropout)        (None, 512)               0

 batch_normalization_38 (Bat  (None, 512)              2048
 chNormalization)

 dense_86 (Dense)            (None, 7)                 3591

 dropout_54 (Dropout)        (None, 7)                 0

 batch_normalization_39 (Bat  (None, 7)                28
 chNormalization)

 dense_87 (Dense)            (None, 32)                256

 dropout_55 (Dropout)        (None, 32)                0

 batch_normalization_40 (Bat  (None, 32)               128
 chNormalization)

 dense_88 (Dense)            (None, 64)                2112

 dropout_56 (Dropout)        (None, 64)                0

 batch_normalization_41 (Bat  (None, 64)               256
 chNormalization)

 dense_89 (Dense)            (None, 64)                4160

 dropout_57 (Dropout)        (None, 64)                0

 batch_normalization_42 (Bat  (None, 64)               256
 chNormalization)

 dense_90 (Dense)            (None, 128)               8320

 dropout_58 (Dropout)        (None, 128)               0

 batch_normalization_43 (Bat  (None, 128)              512
 chNormalization)

 dense_91 (Dense)            (None, 128)               16512

 dropout_59 (Dropout)        (None, 128)               0

 batch_normalization_44 (Bat  (None, 128)              512
 chNormalization)

 dense_92 (Dense)            (None, 256)               33024

 dropout_60 (Dropout)        (None, 256)               0

 batch_normalization_45 (Bat  (None, 256)              1024
 chNormalization)

 dense_93 (Dense)            (None, 256)               65792

 dropout_61 (Dropout)        (None, 256)               0

 batch_normalization_46 (Bat  (None, 256)              1024
 chNormalization)

 dense_94 (Dense)            (None, 512)               131584

 dropout_62 (Dropout)        (None, 512)               0

 batch_normalization_47 (Bat  (None, 512)              2048
 chNormalization)

 dense_95 (Dense)            (None, 512)               262656

 dropout_63 (Dropout)        (None, 512)               0

 batch_normalization_48 (Bat  (None, 512)              2048
 chNormalization)

 dense_96 (Dense)            (None, 7)                 3591

 dropout_64 (Dropout)        (None, 7)                 0

 batch_normalization_49 (Bat  (None, 7)                28
 chNormalization)

 dense_97 (Dense)            (None, 32)                256

 dropout_65 (Dropout)        (None, 32)                0

 batch_normalization_50 (Bat  (None, 32)               128
 chNormalization)

 dense_98 (Dense)            (None, 64)                2112

 dropout_66 (Dropout)        (None, 64)                0

 batch_normalization_51 (Bat  (None, 64)               256
 chNormalization)

 dense_99 (Dense)            (None, 64)                4160

 dropout_67 (Dropout)        (None, 64)                0

 batch_normalization_52 (Bat  (None, 64)               256
 chNormalization)

 dense_100 (Dense)           (None, 128)               8320

 dropout_68 (Dropout)        (None, 128)               0

 batch_normalization_53 (Bat  (None, 128)              512
 chNormalization)

 dense_101 (Dense)           (None, 128)               16512

 dropout_69 (Dropout)        (None, 128)               0

 batch_normalization_54 (Bat  (None, 128)              512
 chNormalization)

 dense_102 (Dense)           (None, 256)               33024

 dropout_70 (Dropout)        (None, 256)               0

 batch_normalization_55 (Bat  (None, 256)              1024
 chNormalization)

 dense_103 (Dense)           (None, 256)               65792

 dropout_71 (Dropout)        (None, 256)               0

 batch_normalization_56 (Bat  (None, 256)              1024
 chNormalization)

 dense_104 (Dense)           (None, 512)               131584

 dropout_72 (Dropout)        (None, 512)               0

 batch_normalization_57 (Bat  (None, 512)              2048
 chNormalization)

 dense_105 (Dense)           (None, 512)               262656

 dropout_73 (Dropout)        (None, 512)               0

 batch_normalization_58 (Bat  (None, 512)              2048
 chNormalization)

 dense_106 (Dense)           (None, 7)                 3591

 dropout_74 (Dropout)        (None, 7)                 0

 batch_normalization_59 (Bat  (None, 7)                28
 chNormalization)

 dense_107 (Dense)           (None, 5)                 40

=================================================================
Total params: 1,688,401
Trainable params: 1,676,647
Non-trainable params: 11,754
_________________________________________________________________

In [75]:
model.compile(optimizer="Adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [76]:
save=model.fit(stdd,y_train,batch_size=10,epochs=10,verbose=1,validation_split=0.2)

Epoch 1/10
3200/3200 [==============================] - 133s 35ms/step - loss: 1.6610 - accuracy: 0.1949 - val_loss: 2.0164 - val_accuracy: 0.2056
Epoch 2/10
3200/3200 [==============================] - 110s 34ms/step - loss: 1.6111 - accuracy: 0.1979 - val_loss: 1.6849 - val_accuracy: 0.1941
Epoch 3/10
3200/3200 [==============================] - 110s 34ms/step - loss: 1.6100 - accuracy: 0.2030 - val_loss: 1.6189 - val_accuracy: 0.2056
Epoch 4/10
3200/3200 [==============================] - 103s 32ms/step - loss: 1.6098 - accuracy: 0.1945 - val_loss: 1.7077 - val_accuracy: 0.2058
Epoch 5/10
3200/3200 [==============================] - 102s 32ms/step - loss: 1.6099 - accuracy: 0.1990 - val_loss: 1.6252 - val_accuracy: 0.1905
Epoch 6/10
3200/3200 [==============================] - 102s 32ms/step - loss: 1.6098 - accuracy: 0.1952 - val_loss: 1.6123 - val_accuracy: 0.1937
Epoch 7/10
3200/3200 [==============================] - 103s 32ms/step - loss: 1.6098 - accuracy: 0.1951 - val_loss: 1.6125 - val_accuracy: 0.1944
Epoch 8/10
3200/3200 [==============================] - 101s 32ms/step - loss: 1.6096 - accuracy: 0.1985 - val_loss: 1.6339 - val_accuracy: 0.2036
Epoch 9/10
3200/3200 [==============================] - 102s 32ms/step - loss: 1.6096 - accuracy: 0.2012 - val_loss: 1.6469 - val_accuracy: 0.1905
Epoch 10/10
3200/3200 [==============================] - 101s 32ms/step - loss: 1.6097 - accuracy: 0.1996 - val_loss: 1.6167 - val_accuracy: 0.2040

In [77]:
stdd.shape

(40000, 2500)

In [78]:
y_train.shape

(40000, 5)

In [79]:
x_test=pd.DataFrame(std.transform(x_test))

In [80]:
model.evaluate(x_test,y_test)

313/313 [==============================] - 3s 8ms/step - loss: 67.6495 - accuracy: 0.2018

[67.64949035644531, 0.20180000364780426]

In [42]:
x_test.shape

(100, 187500)

In [43]:
y_test.shape

(100, 5)