In [1]:
import cv2
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
n0=[]
n1=[]
n2=[]
n3=[]
n4=[]
n5=[]
n6=[]
n7=[]
n8=[]
n9=[]

In [3]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n0")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n0\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n0.append(image.flatten().tolist())

In [4]:
dfa=pd.DataFrame(n0)
dfa["label"]="n0"

In [5]:
dfa

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,48,100,106,47,99,105,45,98,101,44,...,124,96,39,124,96,42,125,100,44,n0
1,44,91,59,39,86,54,37,80,53,36,...,176,177,150,171,169,150,166,165,152,n0
2,103,109,54,103,112,55,105,114,57,101,...,142,117,154,158,133,157,160,138,152,n0
3,58,136,105,60,138,107,59,140,107,59,...,255,255,255,255,255,255,255,255,255,n0
4,71,173,131,71,173,131,68,173,128,67,...,136,130,89,135,129,85,130,127,82,n0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,18,19,15,20,23,14,13,21,11,21,...,46,26,8,44,27,0,54,27,8,n0
101,32,187,83,0,152,46,4,176,64,0,...,239,239,239,239,239,239,239,239,239,n0
102,173,222,238,166,218,234,163,221,233,166,...,131,151,60,128,151,58,135,154,121,n0
103,31,61,50,26,58,47,42,79,63,40,...,188,176,84,192,180,86,200,183,96,n0
104,254,254,254,253,255,255,251,255,255,248,...,194,175,88,197,175,82,195,168,76,n0

In [6]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n1")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n1\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n1.append(image.flatten().tolist())

In [7]:
dfb=pd.DataFrame(n1)
dfb["label"]="n1"

In [8]:
dfb

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,10,30,11,15,36,14,17,35,12,9,...,33,12,26,40,22,18,29,13,17,n1
1,48,51,65,47,50,64,45,48,62,44,...,57,70,40,56,69,41,57,69,38,n1
2,15,46,37,19,50,41,30,57,48,40,...,55,44,8,56,44,9,61,51,8,n1
3,134,201,146,156,209,159,142,190,142,121,...,209,168,150,211,175,107,180,142,82,n1
4,114,210,170,0,73,35,85,156,123,66,...,63,39,23,66,45,22,61,39,20,n1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,120,209,170,89,178,138,20,109,65,0,...,214,186,169,217,189,153,201,173,125,n1
107,71,92,114,69,90,112,74,91,112,77,...,124,150,108,125,151,109,126,152,110,n1
108,40,74,103,43,75,104,39,69,96,28,...,153,145,92,153,143,86,149,139,74,n1
109,68,100,129,69,101,130,71,103,132,74,...,97,130,61,96,129,66,97,128,67,n1
110,25,105,46,27,102,46,34,102,49,43,...,24,37,25,40,56,108,120,130,146,n1

In [9]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n2")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n2\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n2.append(image.flatten().tolist())

In [10]:
dfc=pd.DataFrame(n2)
dfc["label"]="n2"

In [11]:
dfc

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,21,55,79,21,55,79,21,55,79,21,...,106,154,36,108,155,30,104,146,27,n2
1,38,86,68,38,86,68,38,86,68,38,...,89,79,81,90,80,80,88,81,81,n2
2,35,52,38,33,50,36,31,48,35,31,...,59,55,45,59,55,45,59,55,45,n2
3,72,131,103,75,134,106,76,134,109,74,...,111,89,65,111,89,67,110,89,67,n2
4,53,100,91,54,102,90,53,105,88,53,...,120,93,39,117,93,44,113,98,44,n2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,76,102,102,65,89,87,47,69,67,31,...,70,51,28,70,52,29,68,53,28,n2
106,2,7,5,25,30,28,45,50,48,0,...,9,7,4,9,7,4,9,7,4,n2
107,71,65,52,73,67,54,76,68,55,76,...,211,199,188,212,200,188,212,200,187,n2
108,170,166,165,165,161,160,164,160,159,164,...,178,174,190,181,177,180,171,168,181,n2
109,105,97,97,105,97,97,107,99,99,109,...,99,93,52,96,90,55,95,90,55,n2

In [12]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n3")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n3\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n3.append(image.flatten().tolist())

In [13]:
dfd=pd.DataFrame(n3)
dfd["label"]="n3"

In [14]:
dfd

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,130,123,126,131,124,127,131,124,127,131,...,216,216,228,216,216,228,215,217,229,n3
1,224,211,197,225,212,198,227,214,200,229,...,228,219,236,227,218,235,227,220,234,n3
2,37,34,30,37,34,30,38,33,30,38,...,123,121,136,121,119,135,120,118,137,n3
3,239,231,224,239,231,224,239,231,224,239,...,242,239,247,242,239,249,244,241,249,n3
4,99,109,109,99,109,109,100,110,110,100,...,149,137,161,149,137,162,148,136,162,n3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,34,136,94,36,136,94,37,137,95,41,...,191,168,175,191,168,171,187,164,171,n3
118,129,151,146,128,150,145,128,147,144,126,...,142,128,91,146,131,98,147,133,97,n3
119,43,60,51,46,56,50,51,53,53,60,...,88,95,97,89,96,83,93,93,77,n3
120,79,75,64,74,70,59,68,66,56,65,...,68,51,79,71,54,78,70,53,76,n3
121,85,77,78,84,76,77,91,83,84,92,...,115,116,119,114,115,118,112,113,117,n3

In [15]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n4")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n4\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n4.append(image.flatten().tolist())

In [16]:
dfe=pd.DataFrame(n4)
dfe["label"]="n4"

In [17]:
dfe

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,n4
1,79,120,93,79,120,93,80,119,93,81,...,135,120,94,135,120,91,133,116,89,n4
2,142,177,163,111,147,133,85,122,106,81,...,110,131,66,111,132,66,111,132,67,n4
3,33,24,20,30,24,19,31,25,20,29,...,5,0,18,15,7,24,22,14,25,n4
4,32,46,68,34,48,70,36,50,72,37,...,149,109,102,152,112,100,147,109,103,n4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,210,213,221,205,208,216,198,201,209,191,...,80,96,61,77,93,70,86,102,68,n4
101,81,98,89,83,100,91,84,101,92,84,...,117,140,80,114,137,79,112,132,76,n4
102,80,162,119,80,162,119,80,162,119,80,...,87,83,70,87,83,72,87,83,72,n4
103,100,167,206,110,177,216,82,151,190,75,...,147,185,84,155,193,95,166,204,101,n4
104,204,207,211,203,206,210,202,205,210,200,...,203,208,207,203,208,205,204,206,205,n4

In [18]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n5")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n5\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n5.append(image.flatten().tolist())

In [19]:
dff=pd.DataFrame(n5)
dff["label"]="n5"

In [20]:
dff

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,6,71,46,6,71,46,6,71,46,7,...,79,50,8,75,46,7,74,45,10,n5
1,102,134,103,117,156,124,90,138,102,98,...,145,113,106,146,111,108,148,113,105,n5
2,60,110,110,60,110,110,58,110,110,58,...,131,133,147,143,142,155,149,142,165,n5
3,145,167,138,153,173,144,159,179,150,163,...,217,186,215,212,181,212,209,178,210,n5
4,92,105,103,88,102,100,90,104,102,83,...,170,165,107,171,166,107,171,166,107,n5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,37,122,94,37,122,94,37,122,94,38,...,126,78,51,126,75,54,127,77,54,n5
109,15,32,18,17,34,20,19,36,22,21,...,64,38,56,75,50,60,76,52,61,n5
110,69,154,109,70,155,110,71,157,109,72,...,229,196,160,229,196,158,230,194,157,n5
111,66,168,121,65,167,120,63,165,118,62,...,130,94,58,130,94,56,130,94,57,n5
112,0,42,27,7,48,33,9,48,33,11,...,93,71,43,120,92,2,81,42,0,n5

In [21]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n6")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n6\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n6.append(image.flatten().tolist())

In [22]:
dfg=pd.DataFrame(n6)
dfg["label"]="n6"

In [23]:
dfg

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,2,11,21,2,11,21,1,11,21,1,...,25,37,0,25,37,0,26,38,0,n6
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,n6
2,121,110,90,135,124,104,152,138,119,156,...,69,77,64,80,87,62,79,88,56,n6
3,173,167,162,172,166,161,174,168,163,162,...,10,18,7,9,17,8,10,18,6,n6
4,131,127,132,128,124,129,127,123,128,128,...,63,54,97,92,83,95,89,82,65,n6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,4,24,42,2,25,41,3,26,42,2,...,43,55,33,47,59,30,46,58,29,n6
102,168,130,106,168,130,106,168,130,106,169,...,204,194,216,204,194,216,204,192,216,n6
103,16,18,18,16,18,18,16,18,18,15,...,30,29,24,28,29,26,28,29,26,n6
104,38,33,32,38,33,32,38,33,32,38,...,33,26,39,33,26,41,35,28,41,n6
105,38,54,60,38,54,60,38,54,60,37,...,59,67,36,59,67,38,57,64,39,n6

In [24]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n7")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n7\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n7.append(image.flatten().tolist())

In [25]:
dfh=pd.DataFrame(n7)
dfh["label"]="n7"

In [26]:
dfh

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,29,78,56,31,82,55,38,86,60,27,...,148,106,55,152,108,60,152,101,82,n7
1,27,76,68,33,86,77,31,93,81,22,...,255,246,183,255,246,141,253,235,114,n7
2,41,52,60,41,52,60,39,50,58,38,...,147,165,123,147,165,124,148,168,124,n7
3,157,147,163,157,147,163,158,148,164,158,...,67,55,67,67,55,67,62,53,68,n7
4,16,30,28,9,29,24,9,31,26,5,...,93,99,45,92,96,46,93,97,49,n7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,44,44,38,45,45,39,46,46,40,49,...,49,52,33,38,41,11,20,23,25,n7
110,13,121,75,12,117,72,11,114,69,8,...,77,65,36,73,63,38,73,63,39,n7
111,43,128,96,44,129,97,44,129,97,44,...,120,86,37,117,86,35,115,84,38,n7
112,140,147,150,138,145,148,139,146,149,137,...,155,166,152,158,169,148,155,164,148,n7
113,38,91,58,39,92,59,40,93,60,41,...,118,83,70,124,89,75,128,88,77,n7

In [27]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n8")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n8\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n8.append(image.flatten().tolist())

In [28]:
dfi=pd.DataFrame(n8)
dfi["label"]="n8"

In [29]:
dfi

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,22,42,29,23,43,30,22,45,31,22,...,22,20,21,22,20,16,17,15,13,n8
1,1,58,60,2,59,61,0,59,61,0,...,5,8,0,6,9,0,8,18,1,n8
2,76,131,168,78,134,169,89,143,178,90,...,93,117,48,88,113,46,90,119,67,n8
3,6,1,2,7,5,5,5,5,5,0,...,6,6,0,2,2,0,2,1,0,n8
4,109,140,149,100,131,140,95,125,136,96,...,51,47,37,54,50,41,57,50,43,n8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,83,65,54,83,65,54,83,65,54,83,...,96,63,115,96,63,115,96,63,115,n8
102,19,52,72,12,45,65,17,45,69,14,...,46,58,0,8,17,0,3,11,0,n8
103,11,17,16,11,17,16,11,17,16,11,...,67,79,46,61,70,54,66,76,54,n8
104,99,112,38,61,72,4,42,49,0,78,...,93,41,33,108,56,56,116,76,45,n8
105,22,42,29,23,43,30,22,45,31,22,...,22,20,21,22,20,16,17,15,13,n8

In [30]:
os.chdir(r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n9")
files=os.listdir()
for j in files[:]:
    lo=r"C:\Users\Admin\arif\New folder\archive (6)\training\training\n9\\"+j
    image=cv2.imread(lo)
    image=np.resize(image,(50,50,1))
    n9.append(image.flatten().tolist())

In [31]:
dfj=pd.DataFrame(n9)
dfj["label"]="n9"

In [32]:
dfj

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n9
1,106.0,108.0,116.0,50.0,52.0,60.0,48.0,50.0,58.0,41.0,...,113.0,49.0,15.0,102.0,38.0,58.0,145.0,87.0,59.0,n9
2,225.0,224.0,226.0,224.0,223.0,225.0,223.0,222.0,224.0,222.0,...,211.0,191.0,126.0,211.0,191.0,128.0,210.0,191.0,128.0,n9
3,142.0,182.0,171.0,140.0,180.0,169.0,139.0,179.0,168.0,137.0,...,154.0,119.0,94.0,152.0,117.0,93.0,152.0,121.0,94.0,n9
4,76.0,137.0,109.0,75.0,136.0,108.0,75.0,136.0,108.0,74.0,...,166.0,148.0,84.0,165.0,146.0,90.0,169.0,148.0,92.0,n9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,250.0,252.0,252.0,253.0,255.0,255.0,246.0,248.0,248.0,253.0,...,255.0,250.0,243.0,255.0,252.0,243.0,255.0,252.0,243.0,n9
103,249.0,255.0,254.0,0.0,6.0,5.0,13.0,24.0,22.0,9.0,...,154.0,155.0,108.0,154.0,155.0,109.0,155.0,156.0,109.0,n9
104,236.0,244.0,243.0,244.0,255.0,255.0,227.0,244.0,241.0,233.0,...,143.0,121.0,97.0,140.0,119.0,86.0,132.0,110.0,72.0,n9
105,138.0,164.0,188.0,136.0,163.0,184.0,133.0,159.0,176.0,129.0,...,139.0,108.0,123.0,144.0,119.0,132.0,153.0,138.0,140.0,n9
106,213.0,218.0,216.0,215.0,220.0,218.0,214.0,219.0,217.0,214.0,...,220.0,218.0,214.0,219.0,217.0,214.0,220.0,215.0,212.0,n9

In [33]:
data=pd.concat([dfa,dfb,dfc,dfd,dfe,dff,dfg,dfh,dfi,dfj],ignore_index=True)

In [34]:
data

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,48.0,100.0,106.0,47.0,99.0,105.0,45.0,98.0,101.0,44.0,...,124.0,96.0,39.0,124.0,96.0,42.0,125.0,100.0,44.0,n0
1,44.0,91.0,59.0,39.0,86.0,54.0,37.0,80.0,53.0,36.0,...,176.0,177.0,150.0,171.0,169.0,150.0,166.0,165.0,152.0,n0
2,103.0,109.0,54.0,103.0,112.0,55.0,105.0,114.0,57.0,101.0,...,142.0,117.0,154.0,158.0,133.0,157.0,160.0,138.0,152.0,n0
3,58.0,136.0,105.0,60.0,138.0,107.0,59.0,140.0,107.0,59.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,n0
4,71.0,173.0,131.0,71.0,173.0,131.0,68.0,173.0,128.0,67.0,...,136.0,130.0,89.0,135.0,129.0,85.0,130.0,127.0,82.0,n0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,250.0,252.0,252.0,253.0,255.0,255.0,246.0,248.0,248.0,253.0,...,255.0,250.0,243.0,255.0,252.0,243.0,255.0,252.0,243.0,n9
1095,249.0,255.0,254.0,0.0,6.0,5.0,13.0,24.0,22.0,9.0,...,154.0,155.0,108.0,154.0,155.0,109.0,155.0,156.0,109.0,n9
1096,236.0,244.0,243.0,244.0,255.0,255.0,227.0,244.0,241.0,233.0,...,143.0,121.0,97.0,140.0,119.0,86.0,132.0,110.0,72.0,n9
1097,138.0,164.0,188.0,136.0,163.0,184.0,133.0,159.0,176.0,129.0,...,139.0,108.0,123.0,144.0,119.0,132.0,153.0,138.0,140.0,n9
1098,213.0,218.0,216.0,215.0,220.0,218.0,214.0,219.0,217.0,214.0,...,220.0,218.0,214.0,219.0,217.0,214.0,220.0,215.0,212.0,n9

In [35]:
import matplotlib.pyplot as plt
import keras 
from keras import Sequential
from keras.layers import Dense,Dropout,BatchNormalization
from keras.utils import np_utils
from tensorflow import keras
from tensorflow.keras import layers

In [97]:
pip install keras-tuner -q

Note: you may need to restart the kernel to use updated packages.

In [36]:
from kerastuner.tuners import RandomSearch

In [38]:
def build_model(hp):
    model = keras.Sequential()
    model.add(layers.Flatten())
    # Tune the number of layers.
    for i in range(hp.Int("num_layers", 1, 30)):
        model.add(
            layers.Dense(
                # Tune number of units separately.
                units=hp.Int(f"units_{i}", min_value=15, max_value=512, step=5 ),
                activation=hp.Choice("activation", ["relu", "tanh"]),
            )
        )
    if hp.Boolean("dropout"):
        model.add(layers.Dropout(rate=0.25))
    model.add(layers.Dense(10, activation="softmax"))
    learning_rate = hp.Float("lr", min_value=1e-4, max_value=1e-2, sampling="log")
    model.compile(
        optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        loss="categorical_crossentropy",
        metrics=["accuracy"],
    )
    return model

In [75]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(layers.Dense(1, activation='softmax'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='categorical_crossentropy',
        metrics=["accuracy"])
    return model

In [76]:
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=5,
    executions_per_trial=3,
    directory='project',
    project_name='Air Quality Index')

In [39]:
tuner = RandomSearch(
    hypermodel=build_model,
    objective="val_accuracy",
    max_trials=40,
    executions_per_trial=3,
    overwrite=True,
    directory="my_dir",
    project_name="helloworld",
)

In [77]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': 'linear'}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': 'linear'}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': 'linear'}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
data.iloc[:,:-1]

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,48.0,100.0,106.0,47.0,99.0,105.0,45.0,98.0,101.0,44.0,...,39.0,124.0,96.0,39.0,124.0,96.0,42.0,125.0,100.0,44.0
1,44.0,91.0,59.0,39.0,86.0,54.0,37.0,80.0,53.0,36.0,...,156.0,176.0,177.0,150.0,171.0,169.0,150.0,166.0,165.0,152.0
2,103.0,109.0,54.0,103.0,112.0,55.0,105.0,114.0,57.0,101.0,...,138.0,142.0,117.0,154.0,158.0,133.0,157.0,160.0,138.0,152.0
3,58.0,136.0,105.0,60.0,138.0,107.0,59.0,140.0,107.0,59.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
4,71.0,173.0,131.0,71.0,173.0,131.0,68.0,173.0,128.0,67.0,...,90.0,136.0,130.0,89.0,135.0,129.0,85.0,130.0,127.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,250.0,252.0,252.0,253.0,255.0,255.0,246.0,248.0,248.0,253.0,...,241.0,255.0,250.0,243.0,255.0,252.0,243.0,255.0,252.0,243.0
1095,249.0,255.0,254.0,0.0,6.0,5.0,13.0,24.0,22.0,9.0,...,108.0,154.0,155.0,108.0,154.0,155.0,109.0,155.0,156.0,109.0
1096,236.0,244.0,243.0,244.0,255.0,255.0,227.0,244.0,241.0,233.0,...,97.0,143.0,121.0,97.0,140.0,119.0,86.0,132.0,110.0,72.0
1097,138.0,164.0,188.0,136.0,163.0,184.0,133.0,159.0,176.0,129.0,...,121.0,139.0,108.0,123.0,144.0,119.0,132.0,153.0,138.0,140.0
1098,213.0,218.0,216.0,215.0,220.0,218.0,214.0,219.0,217.0,214.0,...,215.0,220.0,218.0,214.0,219.0,217.0,214.0,220.0,215.0,212.0

In [44]:
encode=pd.get_dummies(data["label"])

In [45]:
data=data.drop(["label"],axis=1)
data

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,48.0,100.0,106.0,47.0,99.0,105.0,45.0,98.0,101.0,44.0,...,39.0,124.0,96.0,39.0,124.0,96.0,42.0,125.0,100.0,44.0
1,44.0,91.0,59.0,39.0,86.0,54.0,37.0,80.0,53.0,36.0,...,156.0,176.0,177.0,150.0,171.0,169.0,150.0,166.0,165.0,152.0
2,103.0,109.0,54.0,103.0,112.0,55.0,105.0,114.0,57.0,101.0,...,138.0,142.0,117.0,154.0,158.0,133.0,157.0,160.0,138.0,152.0
3,58.0,136.0,105.0,60.0,138.0,107.0,59.0,140.0,107.0,59.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
4,71.0,173.0,131.0,71.0,173.0,131.0,68.0,173.0,128.0,67.0,...,90.0,136.0,130.0,89.0,135.0,129.0,85.0,130.0,127.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,250.0,252.0,252.0,253.0,255.0,255.0,246.0,248.0,248.0,253.0,...,241.0,255.0,250.0,243.0,255.0,252.0,243.0,255.0,252.0,243.0
1095,249.0,255.0,254.0,0.0,6.0,5.0,13.0,24.0,22.0,9.0,...,108.0,154.0,155.0,108.0,154.0,155.0,109.0,155.0,156.0,109.0
1096,236.0,244.0,243.0,244.0,255.0,255.0,227.0,244.0,241.0,233.0,...,97.0,143.0,121.0,97.0,140.0,119.0,86.0,132.0,110.0,72.0
1097,138.0,164.0,188.0,136.0,163.0,184.0,133.0,159.0,176.0,129.0,...,121.0,139.0,108.0,123.0,144.0,119.0,132.0,153.0,138.0,140.0
1098,213.0,218.0,216.0,215.0,220.0,218.0,214.0,219.0,217.0,214.0,...,215.0,220.0,218.0,214.0,219.0,217.0,214.0,220.0,215.0,212.0

In [46]:
data=data.join(encode)
data

,0,1,2,3,4,5,6,7,8,9,...,n0,n1,n2,n3,n4,n5,n6,n7,n8,n9
0,48.0,100.0,106.0,47.0,99.0,105.0,45.0,98.0,101.0,44.0,...,1,0,0,0,0,0,0,0,0,0
1,44.0,91.0,59.0,39.0,86.0,54.0,37.0,80.0,53.0,36.0,...,1,0,0,0,0,0,0,0,0,0
2,103.0,109.0,54.0,103.0,112.0,55.0,105.0,114.0,57.0,101.0,...,1,0,0,0,0,0,0,0,0,0
3,58.0,136.0,105.0,60.0,138.0,107.0,59.0,140.0,107.0,59.0,...,1,0,0,0,0,0,0,0,0,0
4,71.0,173.0,131.0,71.0,173.0,131.0,68.0,173.0,128.0,67.0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,250.0,252.0,252.0,253.0,255.0,255.0,246.0,248.0,248.0,253.0,...,0,0,0,0,0,0,0,0,0,1
1095,249.0,255.0,254.0,0.0,6.0,5.0,13.0,24.0,22.0,9.0,...,0,0,0,0,0,0,0,0,0,1
1096,236.0,244.0,243.0,244.0,255.0,255.0,227.0,244.0,241.0,233.0,...,0,0,0,0,0,0,0,0,0,1
1097,138.0,164.0,188.0,136.0,163.0,184.0,133.0,159.0,176.0,129.0,...,0,0,0,0,0,0,0,0,0,1
1098,213.0,218.0,216.0,215.0,220.0,218.0,214.0,219.0,217.0,214.0,...,0,0,0,0,0,0,0,0,0,1

In [47]:
x_train,x_test,y_train,y_test=train_test_split(data.iloc[:,:2500],data.iloc[:,2500:],test_size=0.2,random_state=10)

In [48]:
x_train.shape

(879, 2500)

In [49]:
y_train.shape

(879, 10)

In [50]:
x_test.shape

(220, 2500)

In [51]:
y_test.shape

(220, 10)

In [52]:
from sklearn.preprocessing import StandardScaler

In [53]:
std=StandardScaler()
stdd=pd.DataFrame(std.fit_transform(x_train))

In [54]:
x_test=pd.DataFrame(std.transform(x_test))

In [79]:
tuner.search(stdd, y_train,
             epochs=9,
             validation_data=(x_test, y_test))

Search: Running Trial #4

Value             |Best Value So Far |Hyperparameter
3                 |?                 |num_layers
448               |?                 |units_0
96                |?                 |units_1
0.0001            |?                 |learning_rate
288               |?                 |units_2
352               |?                 |units_3
128               |?                 |units_4
512               |?                 |units_5
128               |?                 |units_6
416               |?                 |units_7
192               |?                 |units_8
416               |?                 |units_9

Epoch 1/9

Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\base_tuner.py", line 266, in _try_run_and_update_trial
    self._run_and_update_trial(trial, *fit_args, **fit_kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\base_tuner.py", line 231, in _run_and_update_trial
    results = self.run_trial(trial, *fit_args, **fit_kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\tuner.py", line 287, in run_trial
    obj_value = self._build_and_fit_model(trial, *args, **copied_kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\tuner.py", line 214, in _build_and_fit_model
    results = self.hypermodel.fit(hp, model, *args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\hypermodel.py", line 144, in fit
    return model.fit(*args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 70, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "C:\Users\Admin\AppData\Local\Temp\__autograph_generated_filehtkp_odq.py", line 15, in tf__train_function
    retval_ = ag__.converted_call(ag__.ld(step_function), (ag__.ld(self), ag__.ld(iterator)), None, fscope)
ValueError: in user code:

    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1249, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1233, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1222, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1024, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1082, in compute_loss
        return self.compiled_loss(
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\compile_utils.py", line 265, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\losses.py", line 152, in __call__
        losses = call_fn(y_true, y_pred)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\losses.py", line 284, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\losses.py", line 2004, in categorical_crossentropy
        return backend.categorical_crossentropy(
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\backend.py", line 5532, in categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)

    ValueError: Shapes (None, 10) and (None, 1) are incompatible

RuntimeError: Number of consecutive failures excceeded the limit of 3.
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\base_tuner.py", line 266, in _try_run_and_update_trial
    self._run_and_update_trial(trial, *fit_args, **fit_kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\base_tuner.py", line 231, in _run_and_update_trial
    results = self.run_trial(trial, *fit_args, **fit_kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\tuner.py", line 287, in run_trial
    obj_value = self._build_and_fit_model(trial, *args, **copied_kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\tuner.py", line 214, in _build_and_fit_model
    results = self.hypermodel.fit(hp, model, *args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras_tuner\engine\hypermodel.py", line 144, in fit
    return model.fit(*args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 70, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "C:\Users\Admin\AppData\Local\Temp\__autograph_generated_filehtkp_odq.py", line 15, in tf__train_function
    retval_ = ag__.converted_call(ag__.ld(step_function), (ag__.ld(self), ag__.ld(iterator)), None, fscope)
ValueError: in user code:

    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1249, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1233, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1222, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1024, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\training.py", line 1082, in compute_loss
        return self.compiled_loss(
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\engine\compile_utils.py", line 265, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\losses.py", line 152, in __call__
        losses = call_fn(y_true, y_pred)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\losses.py", line 284, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\losses.py", line 2004, in categorical_crossentropy
        return backend.categorical_crossentropy(
    File "C:\Users\Admin\anaconda3\lib\site-packages\keras\backend.py", line 5532, in categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)

    ValueError: Shapes (None, 10) and (None, 1) are incompatible

In [70]:
model=Sequential()
model.add(Dense(160,activation="relu",kernel_initializer="glorot_uniform",input_dim=2500))
model.add(Dense(416,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(160,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(480,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(32,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(64,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(160,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(512,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(352,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(320,activation="relu",kernel_initializer="glorot_uniform"))
model.add(Dense(10,activation="softmax"))

In [71]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_53 (Dense)            (None, 160)               400160

 dense_54 (Dense)            (None, 416)               66976

 dense_55 (Dense)            (None, 160)               66720

 dense_56 (Dense)            (None, 480)               77280

 dense_57 (Dense)            (None, 32)                15392

 dense_58 (Dense)            (None, 64)                2112

 dense_59 (Dense)            (None, 160)               10400

 dense_60 (Dense)            (None, 512)               82432

 dense_61 (Dense)            (None, 352)               180576

 dense_62 (Dense)            (None, 320)               112960

 dense_63 (Dense)            (None, 10)                3210

=================================================================
Total params: 1,018,218
Trainable params: 1,018,218
Non-trainable params: 0
_________________________________________________________________

In [72]:
model.compile(optimizer="Adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [73]:
save=model.fit(stdd,y_train,batch_size=10,epochs=30,verbose=1,validation_split=0.2)

Epoch 1/30
71/71 [==============================] - 5s 24ms/step - loss: 2.2935 - accuracy: 0.1266 - val_loss: 2.2691 - val_accuracy: 0.0909
Epoch 2/30
71/71 [==============================] - 1s 20ms/step - loss: 2.2747 - accuracy: 0.1437 - val_loss: 2.2560 - val_accuracy: 0.1364
Epoch 3/30
71/71 [==============================] - 1s 19ms/step - loss: 2.2482 - accuracy: 0.1451 - val_loss: 2.3007 - val_accuracy: 0.0909
Epoch 4/30
71/71 [==============================] - 1s 20ms/step - loss: 2.2382 - accuracy: 0.1579 - val_loss: 2.2797 - val_accuracy: 0.1364
Epoch 5/30
71/71 [==============================] - 1s 21ms/step - loss: 2.2215 - accuracy: 0.1522 - val_loss: 2.2873 - val_accuracy: 0.1023
Epoch 6/30
71/71 [==============================] - 2s 21ms/step - loss: 2.2274 - accuracy: 0.1465 - val_loss: 2.2925 - val_accuracy: 0.0909
Epoch 7/30
71/71 [==============================] - 1s 21ms/step - loss: 2.2115 - accuracy: 0.1650 - val_loss: 2.2816 - val_accuracy: 0.0852
Epoch 8/30
71/71 [==============================] - 1s 20ms/step - loss: 2.1869 - accuracy: 0.1664 - val_loss: 2.2866 - val_accuracy: 0.0739
Epoch 9/30
71/71 [==============================] - 2s 21ms/step - loss: 2.1492 - accuracy: 0.1707 - val_loss: 2.4523 - val_accuracy: 0.0625
Epoch 10/30
71/71 [==============================] - 1s 20ms/step - loss: 2.1655 - accuracy: 0.1622 - val_loss: 2.3112 - val_accuracy: 0.0795
Epoch 11/30
71/71 [==============================] - 1s 20ms/step - loss: 2.2040 - accuracy: 0.1693 - val_loss: 2.2566 - val_accuracy: 0.1364
Epoch 12/30
71/71 [==============================] - 1s 21ms/step - loss: 2.1583 - accuracy: 0.1707 - val_loss: 2.2482 - val_accuracy: 0.0966
Epoch 13/30
71/71 [==============================] - 1s 20ms/step - loss: 2.1217 - accuracy: 0.1849 - val_loss: 2.2733 - val_accuracy: 0.1193
Epoch 14/30
71/71 [==============================] - 1s 21ms/step - loss: 2.0979 - accuracy: 0.1764 - val_loss: 2.3118 - val_accuracy: 0.1307
Epoch 15/30
71/71 [==============================] - 1s 20ms/step - loss: 2.0449 - accuracy: 0.1778 - val_loss: 2.3400 - val_accuracy: 0.1193
Epoch 16/30
71/71 [==============================] - 2s 24ms/step - loss: 2.0694 - accuracy: 0.1622 - val_loss: 2.2881 - val_accuracy: 0.0682
Epoch 17/30
71/71 [==============================] - 2s 23ms/step - loss: 1.9998 - accuracy: 0.1892 - val_loss: 2.4075 - val_accuracy: 0.1307
Epoch 18/30
71/71 [==============================] - 1s 20ms/step - loss: 2.0380 - accuracy: 0.2006 - val_loss: 2.2555 - val_accuracy: 0.0852
Epoch 19/30
71/71 [==============================] - 2s 24ms/step - loss: 2.0245 - accuracy: 0.1892 - val_loss: 2.3606 - val_accuracy: 0.0909
Epoch 20/30
71/71 [==============================] - 2s 22ms/step - loss: 1.9762 - accuracy: 0.2091 - val_loss: 2.3047 - val_accuracy: 0.1364
Epoch 21/30
71/71 [==============================] - 2s 23ms/step - loss: 1.9583 - accuracy: 0.1991 - val_loss: 2.3935 - val_accuracy: 0.1250
Epoch 22/30
71/71 [==============================] - 2s 24ms/step - loss: 1.9743 - accuracy: 0.2091 - val_loss: 2.2943 - val_accuracy: 0.1307
Epoch 23/30
71/71 [==============================] - 2s 21ms/step - loss: 1.9815 - accuracy: 0.1878 - val_loss: 2.2973 - val_accuracy: 0.1477
Epoch 24/30
71/71 [==============================] - 2s 22ms/step - loss: 1.9448 - accuracy: 0.2191 - val_loss: 2.5950 - val_accuracy: 0.0966
Epoch 25/30
71/71 [==============================] - 2s 22ms/step - loss: 1.9702 - accuracy: 0.2233 - val_loss: 2.3525 - val_accuracy: 0.1307
Epoch 26/30
71/71 [==============================] - 2s 23ms/step - loss: 1.9990 - accuracy: 0.2119 - val_loss: 2.4596 - val_accuracy: 0.0966
Epoch 27/30
71/71 [==============================] - 2s 23ms/step - loss: 1.9712 - accuracy: 0.2077 - val_loss: 2.4795 - val_accuracy: 0.1648
Epoch 28/30
71/71 [==============================] - 2s 23ms/step - loss: 1.9231 - accuracy: 0.2119 - val_loss: 2.4400 - val_accuracy: 0.1364
Epoch 29/30
71/71 [==============================] - 2s 24ms/step - loss: 2.0026 - accuracy: 0.2162 - val_loss: 2.3297 - val_accuracy: 0.1307
Epoch 30/30
71/71 [==============================] - 2s 22ms/step - loss: 2.0049 - accuracy: 0.1991 - val_loss: 2.4027 - val_accuracy: 0.1420

In [74]:
model.evaluate(x_test,y_test)

7/7 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.1682

[nan, 0.16818182170391083]